.additional-tips__title {
	font-size: 32px;
	line-height: 36px;
	padding: 99px 0 41px;
	@media screen and (max-width: 959px) {
		text-align: center;
	}
}
.additional-tips__row {
	display: flex;
	justify-content: space-between;
	@media screen and (max-width: 959px) {
		flex-direction: column;
		align-items: center;
	}
	.additional-tips__item {
		max-width: 244px;
		width: 100%;
		padding: 0 15px;
		@media screen and (max-width: 959px) {
			max-width: 420px;
		}
		img {
			width: 100%;
		}
		h4 {
			font-size: 18px;
			line-height: 24px;
			padding: 30px 0 13px;
			@media screen and (max-width: 959px) {
				text-align: center;
			}
		}
		p {
			font-size: 15px;
			line-height: 24px;
			@media screen and (max-width: 959px) {
				padding-bottom: 20px;
				text-align: center;
			}
		}
	}
}
