@import '_reset';
@import '_header';
@import '_title-block';
@import '_sponsors';
@import '_class-block';
@import '_layout-tip';
@import '_layout-tip';
@import '_additional-tips';
@import '_footer';

.container{
	max-width: 1122px;
	margin: 0 auto;
	padding: 0 15px;
}